In [7]:
import numpy as np 
import pandas as pd
import math

In [24]:
#1 
def bases(x):
    
    letters = ["0","1","2","3","4","5","6","7","8","9",
               "a","b","c","d","h","f"]
    for base in [2,8,16]:
        tmp = x
        string=""
        for i in range(int(math.log(x,base))+1):
            string= letters[tmp%base]+string
            tmp = tmp//base
        print(string)

In [28]:
bases(34+35)

1000101
105
45

In [30]:
#2
cast=pd.read_csv("C:\\Users\\lior1\\Downloads\\cast.csv")

In [31]:
cast.head()

                               title  year       name   type character     n
0                    Suuri illusioni  1985     Homo $  actor    Guests  22.0
1     Gangsta Rap: The Glockumentary  2007  Too $hort  actor   Himself   NaN
2                  Menace II Society  1993  Too $hort  actor   Lew-Loc  27.0
3  Porndogs: The Adventures of Sadie  2009  Too $hort  actor     Bosco   3.0
4                 Stop Pepper Palmer  2014  Too $hort  actor   Himself   NaN

In [36]:
cast["title"].value_counts()["Hamlet"]

299