In [ ]:
# Nootbook 1
# Omer Priel

In [ ]:
# Part A

In [12]:
# Question 1 A
# Identical twins:     1/125
# Non-identical twins: 1/300

# Answer
# Elvis has male twin
# so, he can't be female so
# (1/(300/2)) = 1/150
# probability = (1/125) / ((1/125)+(1/150)) = 6/11
# The probability is 6 from 11
6/11

0.5454545454545454

In [11]:
# Question 1 B
# 1 = tonsils
# 2 = chocolate
# Bowl  : 1 , 2
# Bowl a: 10, 30
# Bowl b: 20, 20 

# Answer
# probability to a1 = (1/2) * (1/4) 
# probability to a2 = (1/2) * (3/4) 
# probability to b1 = b2 = (1/2) * (1/2)
# 1 = a1 + a2 + b1 + b2
# probability = (a2) / (a2+b2) = 0.6 = 3/5
# The probability is 3 from 5
a1 = (1/2) * (1/4)
a2 = (1/2) * (3/4)
b1 = b2 = (1/2) * (2/4)

(a2) / (a2+b2)

0.6

In [16]:
# Question 2
# Before 1995
# 30% Brown, 20% Yellow, 20% Red, 10% Green, 10% Orange, 10% Tan
# After 1995
# 24% Blue , 20% Green, 16% Orange, 14% Yellow, 13% Red, 13% Brown
# 13% Brown, 14% Yellow, 13% Red, 20% Green, 16% Orange, 24% Blue
# bag1, bag2
# get Yellow from bag1 or bag2

# Answer
# Before 1995
# 30% Brown, 20% Yellow, 20% Red, 10% Green, 10% Orange, 10% Tan
# After 1995
# 13% Brown, 14% Yellow, 13% Red, 20% Green, 16% Orange, 24% Blue

# probability of yellow 1994 = 0.20
# probability of yellow 1996 = 0.14
# y = 0.2 / (0.20+0.14) = 10/17
# The probability is 10 from 17
10/17

0.5882352941176471

In [6]:
# Question 3
# 1 from 10000
# test 99 from 100
# 1 from 100 is false postive
# 0 from 100 is false negative
# you postive in test

# Answer A
# [99 , 1] postive
# [100, 0] negative
# you 99/100
# p = (10**(-4)) / ((10**(-4)) + (1-10**(-4))*(0.01)) = 100/10099
# The probability is 100 from 10099
a = (10**(-4)) / ((10**(-4)) + (1-10**(-4))*(0.01))

# Answer B
# changed from 1/10000 t 1/200
# p = (1/200) / ((1/200) + (1-1/200)*(0.01)) = 100/299
# The probability now is 100 from 299
b = (1/200) / ((1/200) + (1-1/200)*(0.01))
b

0.33444816053511706

In [ ]:
# Part B

In [ ]:
# Question 1
# a+b | 3 = 6
# else = -3

# Answer
# a+b | 3 = 12/36 = 1/3
# else  a  = 1-1/3 = 2/3
# In one game 1 of 3 he will get 6$ and 2 of 3 he will lose 3$
# (1/3) * 6 - (2/3) * 3 = 0
# In infinity games he will get zero dolars

In [ ]:
# Question 2
# a+b < 12 = -6$
# a+b == 12 = 0$
# a+b > 12 = 5$

# Answer
# a+b < 12  -> p = (5+4+3+2+1)/(5*5) = 15/25 = 3/5 = 0.6
# a+b == 12 -> p = (1*4)/(5*5) = 4/25              = 0.16
# a+b > 12  -> p = (3+2+1)/(5*5) = 6/25            = 0.24
# In one game the probability is, 60% of lose 6$, 60% of even and 24% of win 5$
# 0.6 * (-6) + 0.24 * 5 = -2.4
# In infinity games he will lose 2.4 dolars

In [ ]:
# Question 3
# 200 employees
# employees male is 0.4 * 200 = 80
# 8/200 to CEO

# Answer
# p = 0.4
# n = 8
# mean = 0.4*8 = 3.2
# var(X) = n*p*(1-p) = mean*(1-0.4) = 3.2*0.6 = 1.92
# std = 1.92 ** (0.5) = (4*(3**0.5))/5 = 0.8*(3**0.5) = 1.385 = 1.39
# The mean is 3.2 and the std is 1.39

In [ ]:
# Question 4
# mean = 26000
# std = 2000
# P(26000<x<30000)

# Answer
# s = std
# x is mean + s or x is s + 2*s
# x < mean+s = 0.341
# x > mean+s = 0.136
# P(26K < x < 30K) = 0.341 + 0.136 = 0.447 = 47.7%
# The probability is 47.7%

In [ ]:
# Question 5
# y(3) = 0.4
# P(x>3)

# Answer
# P(x>3) = ((0.4)*2/2) / ((0.4)*5/2) = (2) / (5) = 2/5 = 0.4
# The probability is 40%

In [10]:
# Question 6
# 500 employees
# 60% has children.
# 4 employees selected
# what id the probability of that only 3 employees has children

# Answer
# 300 employees has children.
# p = 0.6
# n = 4

# p of 3/4 = 4 * (0.4**1)*(0.6**3) = 216/625= 0.3456 = 34.56%
# the probability is 216 form 625

a = 0.4
b = 0.6
def ab(n, c):
    return c * (a ** (4-n)) * (b ** (n))

ab(0,1) + ab(1,4) + ab(2,5) + ab(3,4) + ab(4,1) # 1

ab(3, 4)

0.34559999999999996

In [11]:
# Question 7
# max p is -5 and 5

# Answer
# x expected to be close to -5 or close to 5