In [1]:
# Nootbook 2
# Omer Priel

In [3]:
import os
import sys
import json

import math

import numpy as np
import pandas as pd

In [6]:
# Part A
# Question 1

num = int(input('Enter a number: '), 0)

print('In base 2:', "{0:b}".format(num))
print('In base 8:', "{0:o}".format(num))
print('In base 16:', "{0:x}".format(num))

Enter a number: 17
In base 2: 10001
In base 8: 21
In base 16: 11

In [7]:
# Part B 
df = pd.read_csv('../data/cast.csv')
df.head()

                               title  year       name   type character     n
0                    Suuri illusioni  1985     Homo $  actor    Guests  22.0
1     Gangsta Rap: The Glockumentary  2007  Too $hort  actor   Himself   NaN
2                  Menace II Society  1993  Too $hort  actor   Lew-Loc  27.0
3  Porndogs: The Adventures of Sadie  2009  Too $hort  actor     Bosco   3.0
4                 Stop Pepper Palmer  2014  Too $hort  actor   Himself   NaN

In [8]:
# Question 1
# How many movies have the title "Hamlet"?

(df['title'] == 'Hamlet').sum()

299

In [18]:
# Question 2
# List all of the "Treasure Island" movies from earliest to most recent.

df[df['title'] == 'Treasure Island'].sort_values('year', ascending=True)

,title,year,name,type,character,n
1312766,Treasure Island,1918,Herschel Mayall,actor,Prologue Player,NaN
3280557,Treasure Island,1918,Eleanor Washington,actress,Prologue Player,NaN
3046750,Treasure Island,1918,Violet Radcliffe,actress,Long John Silver,3.0
1167783,Treasure Island,1918,Raymond Lee,actor,Bit Role,NaN
1195421,Treasure Island,1918,Elmo Lincoln,actor,Prologue Player,NaN
...,...,...,...,...,...,...
1663860,Treasure Island,1999,Victor Raider-Wexler,actor,Samowitz,10.0
1731182,Treasure Island,1999,Scot Thomas Robinson,actor,Jimmy,11.0
1813707,Treasure Island,1999,Richard Schave,actor,Man,21.0
2710458,Treasure Island,1999,Stephanie Ittleson,actress,Stella,7.0
815338,Treasure Island,1999,Rio Hackford,actor,Hans,23.0

In [22]:
# Question 3
# How many roles were credited in the silent 1921 version of Hamlet?

((df['title'] == 'Hamlet') & (df['year'] == 1921)).sum()

9

In [38]:
# Question 4
# Use groupby() to plot the number of "Hamlet" films made each decade

df[df['title'] == 'Hamlet'].groupby(df['year'].apply(lambda x: int(x / 10) * 10))['title'].count()

year
1910    28
1920     9
1940    25
1950     1
1960    57
1970    19
1980     3
1990    84
2000    55
2010    18
Name: title, dtype: int64

In [52]:
# Question 5
# How many leading (n=1) roles were available to actors, and how many to actresses, in each year of the 1950s?

actors = df[(df['year'] >= 1950) & (df['year'] < 1960) & (df['n'] == 1)  & (df['type'] == 'actor')].groupby(df['year']).count()
actress = df[(df['year'] >= 1950) & (df['year'] < 1960) & (df['n'] == 1)  & (df['type'] == 'actress')].groupby(df['year']).count()

actors['actors'] = actors['n']
actors = actors[['actors']]
actress['actress'] = actress['n']
actress = actress[['actress']]

pd.concat([actors, actress], axis=1)

      actors  actress
year
1950     604      271
1951     633      272
1952     591      284
1953     634      290
1954     626      298
1955     606      264
1956     614      288
1957     708      284
1958     694      275
1959     678      287

In [65]:
# Question 6
# List the 10 actors/actresses that have the most leading roles (n=1) since the 1990's.

actors = df[(df['year'] >= 1990) & (df['n'] == 1)].groupby(df['name']).count()
actors.sort_values('n', ascending=False)['n'].head(10).transpose()

name
Mohanlal              126
Mammootty             118
Akshay Kumar           87
Jayaram                76
Andy Lau               72
Ajay Devgn             69
Amitabh Bachchan       68
Eric Roberts           68
Nagarjuna Akkineni     60
Dilip                  59
Name: n, dtype: int64

In [77]:
# Question 7
# List, in order by year, each of the films in which Frank Oz has played more than 1 role

casts = df.sort_values('year', ascending=False)
casts = casts[casts['name'] == 'Frank Oz'].groupby('title').count()
casts[casts['name'] > 1].index.tolist()

['An American Werewolf in London',
 'Muppet Treasure Island',
 'Muppets from Space',
 'Sesame Street Presents: Follow that Bird',
 'The Adventures of Elmo in Grouchland',
 'The Dark Crystal',
 'The Great Muppet Caper',
 'The Muppet Christmas Carol',
 'The Muppet Movie',
 'The Muppets Take Manhattan']

In [ ]:
# EMD